.Curses-container {
    font-family: Mr Eaves XL Mod Ultra;
    font-size: 92px;
    font-style: normal;
    font-weight: 900;
    line-height: 100%;
    letter-spacing: 2.3px;
    color: transparent;
    -webkit-text-stroke: 2px #7A4FEE;
    /* Largura e cor do contorno */
    text-stroke: 2px #7A4FEE;
    min-width: 185%;
    margin-top: 8rem;
    white-space: nowrap;
    /* Impede que as palavras quebrem em várias linhas */
    overflow-x: hidden;
    /* Oculta o conteúdo que estiver fora do contêiner */
    position: relative;

    /* Permite o posicionamento absoluto das palavras */
    @keyframes scrollLeft {
        from {
            transform: translateX(100%);
            /* Começa fora da tela à direita */
        }

        to {
            transform: translateX(-100%);
            /* Move-se para fora da tela à esquerda */
        }
    }

    /* Defina a animação */
    animation: scrollLeft 10s linear infinite;

    .Curses-word {
        padding: 1rem;
        display: inline-block;
    }
}