.HardSoft-Skills {

    display: flex;
    width: 100%;
    max-height: 820px;
    justify-content: center;

}

.HardSoft-Skills p {
    font-size: 25px;
}

.SOFT {

    width: 50%;
    color: aliceblue;
    text-align: center;
    padding: 5px;
    font-weight: 400;
    margin: 15px;

}

.HARD {
    margin: 15px;
    width: 50%;
    color: aliceblue;
    text-align: center;
    font-weight: 400;


}

.SOFT h2 {
    font-size: 50px;
    margin: 15px;
    margin-bottom: 35px;
    padding: 5px;
}

.SOFT ul {
    margin: 50px;
    padding: 2px;
    font-size: 22px;
    text-align: left;
    margin-top: 70px;
}
.SOFT ul li {
    margin-top: 5px;
    padding: 4px;
}

.aTTributs-Formacion {
    width: 60%;
    margin: auto;
}
.SOFT img {
    border-radius:25px;
    margin-bottom: 20px;
}
.HARD img{
    border-radius: 25px;
    margin-bottom: 2px;
}


.HARD h2 {
    font-size: 50px;
    margin: 15px;
    margin-bottom: 35px;
    padding: 5px;
}

.HARD ul {
    margin: 50px;
    padding: 2px;
    font-size: 22px;
    text-align: left;
}


.HARD ul li {
    margin-top: 5px;
    padding: 4px;
}