/* efeitos de animação no portifolio */

.img-port {
    animation: fadeRight 0.5s;
}

.Carrer {
    animation: fadeRight 2s;
}

.Curriculum {
    animation: fadeLeft 2s;
}

.About {
    animation: fadeDown 3s;
}

.timeline-area {
    animation: fade-in 4s;
}


/* .card-Lito {
    animation: fade-in 1s;
} */


/* .card-Marista {
    animation: fadeRigth 1 s;
}

.card-Chesf {
    animation: fadeRight 1s;
} */


/* .educationF{
    animation: fadeDown 2s;
} */

*/ .Title-Academic {
    animation: fadeDown 2s;
}

.Metropolitana {
    animation: fadeLeft 1s;
}

.Marista {
    animation: fadeRight 1s;
}

.Udemy {
    animation: fadeLeft 1s;
}

.Alura {
    animation: fadeRight 1s;
}


/* effects of certificate */


/* 
.Education .Alura{
    animation: fadeLeft 0.5s;
    -webkit-transition: 1s;
    -moz-transition: 2s;
    -o-transition: 2s;
    -ms-transition: 2s;
    transition: 2s;
    cursor: pointer;
}

.Education .Marista{
    animation: fadeRight 0.5s;
    -webkit-transition: 1s;
    -moz-transition: 2s;
    -o-transition: 2s;
    -ms-transition: 2s;
    transition: 2s;
    cursor: pointer;

}

.Education .Alura-c{
    animation: fadeRight 0.5s;
    -webkit-transition: 1s;
    -moz-transition: 2s;
    -o-transition: 2s;
    -ms-transition: 2s;
    transition: 2s;
    cursor: pointer;
}
.Havard-c{
    animation: fadeLeft 0.5s;
    -webkit-transition: 1s;
    -moz-transition: 2s;
    -o-transition: 2s;
    -ms-transition: 2s;
    transition: 2s;
    cursor: pointer;
} */

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeUp {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeDown {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeLeft {
    from {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeRight {
    from {
        opacity: 0;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}