.footer {
    width: 70%;
    font-size: 30px;
    text-align: center;
    display: flex;
    justify-content: space-around;
    margin: auto;
    margin-top: 7%;
    
}

.footer i {
    padding: 5px;
}

.footer a {
    color: rgb(0, 18, 34);
    text-decoration: none;
}


.footer a:hover {
    opacity: 1;
    font-size: 27px;
    padding: 5px;
}

.footer a:hover>i {
    font-size: 27px;
}

.Emailer a:hover {
    color: #eead2d;
}

.Linkdedin a:hover {
    color: rgb(59, 59, 252);
   
}

.Github a:hover {
    color: rgb(83, 70, 158);
}

.Intagr a:hover>i {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    -webkit-background-clip: text;
            /* Also define standard property for compatibility */
            background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 30px;
}

.Intagr a:hover{
    color:#8c0442;
}