@media screen and (max-width: 1919px) and (min-width: 1280px) {

    /* Index-Html */


    .header img {
        width: 25%;
    }
    .Contact-me h1{
        font-size: 45px;
        margin-left: -35px;
    }

    .Container-Project {
        width: 30%;
        height: 298px;
    }
    .video-ad video {
        margin-top: 25px;
        width: 340px;
        height: 200px;
        margin-bottom: 25px;
    }
 









}