@media screen and (max-width: 819px) and (min-width: 768px){


    /* Index-Html */

    .header {
        width: 100%;
        text-align: center;
        justify-content: center;
    }


    .header .logo img {
        width: 200%;
        margin-right: -300%;
    }

    .header ul li {
        font-size: 25px;
    }

    .Personal-Bio {
        height: 50vh;
    }


    .Personal-Bio {
        margin-left: -1%;
    }

    




    .about-me {
        width: 100%;
        margin: auto;
    }

    .about-me-firts {
        width: 95%;
    }

    .about-me img {
        width: 50%;
    }

    .input-container {
        width: 55%;
    }

    .Contact-me {
        width: 20%;
  
    }

    .Contact-me h1{
        font-size: 38px;
  
    }

    .Information-Me {
        height: 77vh;
    }

    .contacto-email p{
        font-size: 17px;
    }

    .input-container{
        width: 47%;
    }

    .style-form-input {
        float: left;
        width: 100%;
        margin: 1em 0;
        position: relative;
        border-radius: 4px;
    }


    /* Curriculum */

    .Background-Title h2 {
        margin-left: 11%;
    }

    .timeline-area {
        margin-left: 11%;
    }

    .Title-Academic h2 {
        margin-left: 8%;
    }

    .wrapper {
        margin-left: 0%;
    }



    .educationF {
        height: 140px;
        width: 90%;
        margin-left: 4%;
        align-items: center;

    }


    .educationF h3 {
        font-size: 17px;
    }

    .educationF h4 {
        display: none;
    }

    .educationF p {
        display: none;
    }


    .HardSoft-Skills {
        height: 30%;
    }

    .HardSoft-Skills .aTTributs-Formacion {
        margin-top: -20%;
        width: 80%;
    }


    /* projectos */

    .projects h1 {
        margin-left: 6%;
    }

    .projects h2 {
        margin-top: 50px;
    }


    .Container-Project {
        width: 30%;
        height: 250px;
    }

    .video-ad video {
        margin-top: 25px;
        width: 310px;
        height: 150px;
    }

    .btn-projects {
        width: 250px;
        margin: auto;
        margin-top: 25px;
    }

    .Contact-me {
        width: 40%;
        margin-left: -40px;
    }

    .Contact-me h1 {
        margin-right: -46px;
    }










}