@media screen and (max-width: 1023px) and (min-width: 912px){


    /* Index-Html */

    .header{
        padding: 60px;
    }

    .header .logo img {
        width: 140%;
        margin-left: 15%;
        margin-top: 10%;
    }

    .header ul li {
        font-size: 25px;
    }

    .Personal-Bio {
        height: 38vh;
    }

    .Personal-Bio {
        margin-left: -1%;
    }

    .about-me {
        width: 100%;
        margin: auto;
        margin-top: -30px;
    }

    .about-me-firts {
        width: 95%;
    }

    .about-me img {
        width: 35%;
    }

    .input-container {
        width: 50%;
    }

    .Contact-me {
        width: 37%;
        margin-left: -40px;
    }

    .style-form-input {
        float: left;
        width: 100%;
        margin: 1em 0;
        position: relative;
        border-radius: 4px;
    }

    .Information-Me {
        margin-top: 30px;
        height: 83vh;
    }

    /* Curriculum */

    .Background-Title h2 {
        margin-left: 11%;
    }

    .timeline-area {
        margin-left: 11%;
    }

    .Title-Academic h2 {
        margin-left: 8%;
    }

    .wrapper {
        margin-left: 0%;
    }



    .educationF {
        height: 140px;
        width: 90%;
        margin-left: 4%;
        align-items: center;

    }


    .educationF h3 {
        font-size: 17px;
    }

    .educationF h4 {
        display: none;
    }

    .educationF p {
        display: none;
    }


    .HardSoft-Skills {
        height: 30%;
    }

    .HardSoft-Skills .aTTributs-Formacion {
        margin-top: -20%;
        width: 80%;
    }


    /* projectos */

    .projects h1 {
        margin-left: 6%;
    }

    .projects h2 {
        margin-top: 50px;
    }


    .Container-Project {
        width: 30%;
        height: 250px;
    }

    .video-ad video {
        margin-top: 25px;
        width: 310px;
        height: 150px;
    }

    .btn-projects {
        width: 250px;
        margin: auto;
        margin-top: 25px;
    }

    .Contact-me {
        width: 40%;
        margin-left: -40px;
    }

    .Contact-me h1 {
        margin-right: -46px;
    }


   /* PROJECTOS */
    /* Projectos */

    .Links-Projects {
        font-size: 13px;
        text-align: center;
    }



    .btn-white {
        border-radius: 0px;
        margin: 10px;
        padding: 5px;
    }

    .btn:link {
        border-radius: 10px;
        display: flex;
        align-items: center;
    }

    .titlevideo {
        font-size: 25px;
        text-align: center;
        margin: 25px;
    }

    .container-main {
        display: block;
    }

    .video-ad video {
        width: 100%;

    }

    .Container-Project {
        width: 90%;
        margin: auto;
    }

    .NameCt h1 {
        font-size: 35px;
        width: 100%;
        margin-left: 35px;
    }

    .NameCt .contacto-email {
        font-size: 18px;
        text-align: center;
        width: 80%;
        margin: auto;
    }

    .NameCt i {
        width: 25px;
        text-align: center;
        margin-left: 17px;
    }

    .Cv-Btn .BtnPro {
        margin-left: 15px;
    }

    .header .LgPro img {
        display: none;
    }

    .header {
        width: 100%;
    }

    .header ul {
        margin-right: 30%;
    }









}